footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important; /* Полупрозрачный белый */
    backdrop-filter: blur(5px); /* Эффект размытия */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }